@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F6FA;
  --background-secondary: #FFFFFF;

  --text: #707070;
  --text-secondary: #989AB8;

  --border: #D7D8E4;

  --shadow: #D7D8E4;

  --system: #170A33;
  --system-secondary: #4C5095;

  --tic-tac-toe-finish: #989AB8;
  --tic-tac-toe-color: #1F2937;
}

.dark {
  --background: #1F2937;
  --background-secondary: #19222C;

  --text: #FFFFFF;
  --text-secondary: #D1D5DB;

  --border: #5E6273;

  --shadow: #2A2F3E;

  --system: #918CFF;
  --system-secondary: #C0C3FD;

  --tic-tac-toe-finish: #19222C;
  --tic-tac-toe-color: #F5F6FA;
}

::-webkit-scrollbar-track {
  margin: 4px 0px 0px 0px;
  border-radius: 10px;
  background: none;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--system);
}