@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: #F5F6FA;
  --background-secondary: #FFFFFF;

  --text: #707070;
  --text-secondary: #989AB8;

  --border: #D7D8E4;

  --shadow: #D7D8E4;
}

:root {
  --background: #1F2937;
  --background-secondary: #19222C;

  --text: #FFFFFF;
  --text-secondary: #D1D5DB;

  --border: #5E6273;

  --shadow: #2A2F3E;
}